<section class="showcase">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Create</th>
                            <th>Update</th>
                            <th>View</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <a href="/book/add">Create Book</a></td>
                            <td> <a href="/book/">Update Book</a></td>
                            <td> <a href="/book">List Books</a></td>
                            <td> <a href="/book">Delete Books</a></td>
                        </tr>
                        <tr>
                            <td> <a href="/user/add">Create User</a></td>
                            <td> <a href="/user/">Update User</a></td>
                            <td> <a href="/user">List Users</a></td>
                            <td> <a href="/user">Delete Users</a></td>
                        </tr>
                        <tr>
                            <td> <a href="/borrows/add">Borrow Book</a></td>
                            <td> - </td>
                            <td> <a href="/borrows">List Borrowed</a></td>
                            <td> <a href="/borrows">Delete Borrowed record</a></td>
                        </tr>
                        <tr>
                            <td> - </td>
                            <td> - </td>
                            <td> <a href="/userBooks">User list of Books</a></td>
                            <td> <a href="/userBooks">Remove Book from User</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>